@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,500;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----general----*/
html {
  height: 100%;
}

body {
  margin: 0;
  background:rgb(226, 226, 226);
  color: #181818;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.font{
  font-family: 'Anton', sans-serif;
}
/*--header--*/
li,a, button{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
color: #ffffff;
text-decoration: none;

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  width: 100%;
  background: rgb(230, 178, 9);
  margin-bottom: 20px;
  top: 0;
}

.logo{
  cursor: pointer;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a{
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
  color: #6d4802;
  box-shadow:0px 4px rgb(112, 73, 0);

}
.nav-links li a:active{
  color: #fff;
  box-shadow:none;
}
.menu{
  display: none;
}

button{
  padding: 9px 25px;
  background: #a27004;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover{
  background: #ffcc00;
  color: #6d4802;

}
@media screen and (max-width:930px) {

  .nav-links, .cont{
    display: none;
  }

  .menu{
    display: inherit;
  }
}


/*-dispositivos-*/

.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: #1f1f1f;
  overflow: hidden;
  transition:all 0.3s ease 0s ;
}

.overlay-cont{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a{
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay .botones:hover, .overlay .botones:focus{
  color: #ffffff;
}

.overlay .cerrar{
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.overlay-cont .botones:hover{
color: #fcc100;
}

.bt{
  color:#ffffff;
}

.bt:hover{
  color:#e2843d;
}

@media screen and (max-height:450px) {
  .overlay a{
    font-size: 20px;
  }

  .overlay .cerrar {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

}
.overlay .cerrar:hover{
  color: rgb(226, 22, 22);
}
/*--inicio--*/
.inicio img{
  max-width: 90%;
  margin: 20px auto;
  overflow: hidden;
}

/*-about-*/
.ab-img{
  display: block;
  margin: 5px 20px;
}

.ab-img img{
  display: block;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  width:50%; 
}

@media screen and (max-width:930px) {

  .ab-img img{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
}

/*--footer--*/

footer {
  background: #181818;
  color:#ffffff;
  padding: 3em;
  left: 0;
  right: 0;
  margin-top: auto;
}

footer a {
  color: #999999;
  text-decoration:none;
}
footer a:hover, footer a:focus {
  color: rgb(209, 209, 209);
  text-decoration:none;
  border-bottom:1px dotted #999999;
}


/*----detalles----*/
h1{
  font-family: 'Anton', sans-serif;
}
h2{
  margin-top: 30px;
}

.cards .w{
  width: 18rem;
}

.imgs{
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  width:300px; 
}


@media screen and (max-width:930px) {

  .imgs{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

}

/*----Formularios contacto----*/
.contact-form{  
  width: 520px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}
form *{
  font-family: "Open Sans", sans-serif;
}

form .input{
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #bbbbbb;
  transition: .3s ease all;
  width: 100%;
  margin-bottom: 20px;
}

form .input:focus{
  border: 1px solid#1c78da;
  outline: none;
}
textarea {
  height: 150px;
}

.boton{
  background: #47992c;
  border: none;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  padding: 10px 15px ;
  margin: 20px 170px;
  border-radius: 50px;
  text-align: center;
  line-height: 22px;
  transition: .3s ease all;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.boton:hover{
  background: #147b18;
}

.termi .cond{
  font-size: 16px;
  color: #2463b6;
  text-decoration:underline;
}
@media screen and (max-width:930px) {
  .boton{
    margin: 20px 140px;
  }
}

/*-----cards-----*/
.card{
  width: 600px;
  padding: 70px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 0px 0px 30px rgba(216, 216, 216, 0.3);
}
.card-contenedor{
  font-size: 16px;
  width: 600px;
  margin: 30px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 (rgb 0,0,0,0.1);
  background: #ffffff;
  overflow: hidden;
}

.card-contenedor .card-header{
display: block;
align-items: center;
gap: 10px;
padding: 20px;
}

.card-contenedor .card-header h3{
display: block;
}

.card-contenedor .card-cont .card-text{
  padding: 10px;
}

.card-contenedor .card-cont .card-text p{ 
  display: block;
}

.card-contenedor .card-cont .card-img img{
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
  height: 400px;
}

@media screen and (max-width:930px) {
  .card{
    width: 500px;
  }
  .card-contenedor{
    width: 400px;
  }
  
  .card-contenedor .card-cont .card-img img{
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
  }

}

/*--helps--*/
.no-margen { margin: 0 }
.no-margen-superior { margin-top: 0 }
.no-margen-inferior { margin-bottom: 0 }
.no-margen-izquierdo { margin-left: 0 }
.no-margen-derecho { margin-right: 0 }

.margen-inferior {margin-bottom: 20px;}
.margen-superior {margin-top: 20px;}

.texto-centrado {text-align: center;}
.texto-izquierda {text-align: left;}
.texto-derecha {text-align: right;}
.centrado{align-items: center;}

.ancho{
  width: 90%;
  max-width: 1000px;
  margin:auto;
  overflow:hidden;
}