*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --fuente: "Open Sans", sans-serif;
    --fondo:#f2f2f2;
    --ancho-contenedor: 1200px;
}
/*----general----*/
html {
  height: 100%;
}
body {
  margin: 0;
  background:var(--fondo);
  color: #181818;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/*--header--*/

header{
  width: 100%;
  overflow: hidden;
  background: rgb(6, 46, 119);
  margin-bottom: 20px;
  top: 0;
  display: inline-block;
  line-height: 100px;
}

header .logo{
  color: #d5d5d5;
  font-size: 30px;
  line-height: 100px;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  font-family: 'Anton', sans-serif;
}

header .logo:hover{
color: #f2f2f2;
}

header nav{
  float: right;
}

header nav .botones{
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

header nav .botones:hover{
  background: #cac650;
  border-radius: 10px;
  color:rgb(0, 0, 0) ;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.ancho{
  width: 90%;
  max-width: 1000px;
  margin:auto;
  overflow:hidden;
}
@media screen and (max-width:950px)
{
  header .logo,
  header nav{
    width: 100%;
    text-align: center;
    line-height: 100px;
  }
}

/*--inicio--*/
.inicio img{
  max-width: 90%;
  margin: 20px auto;
  overflow: hidden;
}

/*--footer--*/

footer {
  background: #181818;
  color:#ffffff;
  padding: 3em;
  left: 0;
  right: 0;
  margin-top: auto;
}

footer a {
  color: #999999;
  text-decoration:none;
}
footer a:hover, footer a:focus {
  color: rgb(209, 209, 209);
  text-decoration:none;
  border-bottom:1px dotted #999999;
}


/*----detalles----*/
h2{
  margin-top: 30px;
}
.card{
  padding: 70px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);

}
.cards{
  max-width: 70%;
  margin: 20px auto;
  overflow: hidden;
  padding: 70px;
  margin: 60px auto;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 0px 0px 30px rgba(38, 38, 38, 0.3);
}

.cards .w{
  width: 18rem;
}

/*----Formularios contacto----*/
.contact-form{  
  width: 520px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}
form *{
  font-family: var(--fuente);
}

form .input{
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #bbbbbb;
  transition: .3s ease all;
  width: 100%;
  margin-bottom: 20px;
}

form .input:focus{
  border: 1px solid#55d849;
  outline: none;
}
textarea {
  height: 150px;
}

.boton{
  background: #47992c;
  border: none;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  padding: 10px 15px ;
  border-radius: 10px;
  text-align: center;
  line-height: 22px;
  transition: .3s ease all;
}

.boton:hover{
  background: #147b18;
}

/*--helps--*/
.no-margen { margin: 0 }
.no-margen-superior { margin-top: 0 }
.no-margen-inferior { margin-bottom: 0 }
.no-margen-izquierdo { margin-left: 0 }
.no-margen-derecho { margin-right: 0 }

.margen-inferior {margin-bottom: 20px;}
.margen-superior {margin-top: 20px;}

.texto-centrado {text-align: center;}
.texto-izquierda {text-align: left;}
.texto-derecha {text-align: right;}

.ancho{
  width: 90%;
  max-width: 1000px;
  margin:auto;
  overflow:hidden;
}