@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,500;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/*----general----*/
html {
  height: 100%;
  scroll-behavior: smooth;
}
li ,a, button{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  }
  
body {
  margin: 0;
  background:rgb(226, 226, 226);
  color: #181818;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.font{
  font-family: 'Anton', sans-serif;
}

/*--header--*/

.botones{
  font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    text-decoration:none;
    display: inline-block;
    color: #ffffff;
    margin: 10px 10px 10px 0;
    padding: 10px 20px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 100%;
  background: rgb(230, 178, 9);
  margin-bottom: 5px;
  top: 0;
}
.logo{
  cursor: pointer;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a{
  transition: all 0.3s ease 0s;
  padding: 0 20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
  color: #6d4802;
  box-shadow:0 4px rgb(112, 73, 0);

}
.nav-links li a:active{
  color: #fff;
  box-shadow:none;
}
.menu{
  display: none;
  background: none;
  font-size: 35px;
  text-decoration: none;
}
.menu:hover{
  background: none;
}

button{
  padding: 9px 25px;
  background: #a27004;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}
button:hover{
  background: #ffcc00;
  color: #6d4802;

}
@media screen and (max-width:1200px) {

  .nav-links, .cont{
    display: none;
  }

  .menu{
    display: inherit;
  }
}


/*-dispositivos-*/

.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: #1f1f1f;
  overflow: hidden;
  transition:all 0.3s ease 0s ;
}

.overlay-cont{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a{
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay .botones:hover, .overlay .botones:focus{
  color: #ffffff;
}

.overlay .cerrar{
  cursor: pointer;
  position: absolute;
  text-decoration: none;
  color: #ffffff;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.overlay-cont .botones:hover{
color: #fcc100;
}

.bt{
  color:#ffffff;
  text-decoration: none;
}

.bt:hover{
  color:#e2843d;
  text-decoration: none;
}

@media screen and (max-height:450px) {
  .overlay a{
    font-size: 20px;
  }

  .overlay .cerrar {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

}
.overlay .cerrar:hover{
  color: rgb(240, 83, 83);
}
/*--inicio--*/
.inicio img{
  max-width: 90%;
  margin: 20px auto;
  overflow: hidden;
}

/*-about-*/
.ab-img{
  display: block;
  margin: 5px 20px;
}

.ab-img img{
  display: block;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  width:50%; 
}

@media screen and (max-width:1200px) {

  .ab-img img{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
}

/*--footer--*/

footer {
  display: flex;
  background: #181818;
  color:#ffffff;
  margin-top: auto;
  top: 0;
}

footer a {
  color: #999999;
  text-decoration:none;
}
footer a:hover, footer a:focus {
  color: rgb(209, 209, 209);
  text-decoration:none;
  border-bottom:1px dotted #999999;
}


/*----detalles----*/
h1{
  font-family: 'Anton', sans-serif;
}
h2{
  margin-top: 30px;
}

.cards .w{
  width: 18rem;
}

.imgs{
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  width:300px; 
}


@media screen and (max-width:930px) {

  .imgs{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

}

/*----Formularios contacto----*/
.contact-form{  
  width: 520px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}
form *{
  font-family: "Open Sans", sans-serif;
}

form .input{
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #bbbbbb;
  transition: .3s ease all;
  width: 100%;
  margin-bottom: 20px;
}

form .input:focus{
  border: 1px solid#1c78da;
  outline: none;
}
textarea {
  height: 150px;
}

.boton{
  background: #47992c;
  border: none;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  padding: 10px 15px ;
  margin: 20px 170px;
  border-radius: 50px;
  text-align: center;
  line-height: 22px;
  transition: .3s ease all;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.boton:hover{
  background: #147b18;
}

.termi .cond{
  font-size: 16px;
  color: #2463b6;
  text-decoration:underline;
}
@media screen and (max-width:930px) {
  .boton{
    margin: 20px 140px;
  }
}

/*-----cards-----*/
.card{
  width: 600px;
  padding: 70px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 0px 0px 30px rgba(216, 216, 216, 0.3);
}

.card-contenedor{
  font-size: 16px;
  width: 600px;
  margin: 200px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 (rgb 0,0,0,0.1);
  background: #ffffff;
  overflow: hidden;
}

.card-contenedor .card-header{
display: block;
align-items: center;
gap: 10px;
padding: 20px;
}

.card-contenedor .card-header h3{
display: block;
}

.card-contenedor .card-cont .card-text{
  padding: 10px;
}

.card-contenedor .card-cont .card-text p{ 
  display: block;
}

.card-contenedor .card-cont .card-img img{
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
  height: 400px;
}

.card-contene{
  font-size: 16px;
  width: 600px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 (rgb 0,0,0,0.1);
  background: #ffffff;
  overflow: hidden;
}

.card-contene .card-cont{
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 350px;
}

@media screen and (max-width:930px) {
  .card{
    width: 500px;
  }
  .card-contenedor{
    width: 400px;
  }
  
  .card-contenedor .card-cont .card-img img{
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
  }

}

/*--Funciones--*/


.fun{
  background: none;
  border: none;
  cursor: pointer;
  color: #181818;
  display: inline-block;
  padding: 5px 10px ;
  margin: 3px 3px;
  text-align: center;
  line-height: 22px;
  transition: .3s ease all;
  box-shadow:0 4px rgb(112, 73, 0);
}

.fun:hover{
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  color: #181818;
  box-shadow:0 6px rgb(112, 73, 0);
}

/*-top 5-*/

a {
	text-decoration: none;
}

nav{
	background: rgb(230, 178, 9);
	height: 80px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	display: flex;
	position: sticky;
	top: 0;
	overflow: hidden;
}

nav .lk {
	flex: 1;
	height: 100%;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #000;
	transition: .2s ease-in-out all;
	font-weight: 500;
}

nav .lk:hover {
	background: #f0f0f0;
}

nav .indicador {
	width: 0px;
	height: 7px;
	background: #113cfc;
	position: absolute;
	bottom: 0;
	transition: .3s ease-out all;
	/* transform: translate(-500px); */
}

@media screen and (max-width: 800px) {
	nav a {
		font-size: 14px;
		padding: 5px;
	}
}

@media screen and (max-width: 450px) {
	nav a {
		font-size: 12px;
	}
}
/*--helps--*/
.no-margen { margin: 0 }
.no-margen-superior { margin-top: 0 }
.no-margen-inferior { margin-bottom: 0 }
.no-margen-izquierdo { margin-left: 0 }
.no-margen-derecho { margin-right: 0 }

.margen-inferior {margin-bottom: 20px;}
.margen-superior {margin-top: 20px;}

.texto-centrado {text-align: center;}
.texto-izquierda {text-align: left;}
.texto-derecha {text-align: right;}
.centrado{align-items: center;}

.ancho{
  width: 90%;
  max-width: 1000px;
  margin:auto;
  overflow:hidden;
}